html {
    margin: 0 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 0;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
}

tr {
    padding: 0;
}

td {
    margin: 0;
    width: 50%;
    height: 100%;
}

.a {
    background-color: darkolivegreen;
    text-align: center;
}

.b {
    background-color: rosybrown;
    text-align: center;
}