html, body {
    height: 100%;
    margin: -15px 0 0 0;
    background-color: black;
    font-style: italic;

}

.parallax {
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#my_home {
    text-align: center;
    align-content: center;
    text-shadow: 5px 0 10px black;
    color: white;
    font-size: 2em;
    
}

#profiles img {
    border-radius: 50%;
    border: white solid 6px;
    height: 150px;
    margin: 0 20px;
    
}

#my_skills {
    height: 50%;
    padding: 100px 200px;
    text-align: center;
    color: white;
    background: linear-gradient(0deg, #000000 0%, #00d5ff 100%);


}

#my_skills img{
    height: 200px;
    border-radius: 50%;

}

#my_details p {
    margin: 30px 0 0px 0px;
}

#my_contact {
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    text-shadow: 5px 0 10px black;
    color: white;
    font-size: 2em;

}

#my_contact img {
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

#img_linkedin img{
    height: 50px;
}