html, body {
    height: 100%;
    margin: -15px 0 0 0;
    background-color: black;
    font-style: italic;

}

.parallax {
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#my_home {
    text-align: center;
    align-content: center;
    text-shadow: 5px 0 10px black;
    color: white;
    font-size: 2em;
    
}

#space {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 100px 0;
}

#my_skills {
    height: 700px;
    /* padding: 50px 200px; */
    /* text-align: center; */
    color: white;
    background: linear-gradient(0deg, #000000 0%, #00d5ff 100%);


}

#my_skills img{
    margin-top: 100px;
    height: 200px;
    border-radius: 50%;

}

#my_details  {
    margin: 30px 0 0px 0px;
    text-align: center;

}

#my_contact {
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    text-shadow: 5px 0 10px black;
    color: white;
    font-size: 2em;

}

#my_contact img {
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}
#my_img {
  display: flex;
  justify-content: center;
}