html, body {
    padding: 0;
    margin: 0;
}

table {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

td {
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
}

.left {
    background-color: red;
}

.right {
    background-color: aqua;
}