html, body {
    height: 100%;
    margin: -15px 0 0 0;
    background-color: black;
    /* text-transform: uppercase; */
    font-style: italic;

}

.parallax {
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax h2 {
    
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    text-shadow: 5px 0 10px rgb(0, 71, 77);
    color: white;
    font-size: 2em;
}

.my_main h1{
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    height: 300px;
}